<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template is working</title>

</head>
<body>
iam a cute template boy
{{name}} is from {{place}}
</body>
</html> -->
<!-- code video 9 -->
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template is working</title>

</head>
<body>
<h1>Welcome to the text analyzer. enter your text below</h1>
<form action='/removepunc' method='get'>
    <textarea name='text' style="margin: 0px; height: 144px; width: 1345px;"></textarea>
    <button type="submit">Analyze Text</button>
</form>
</body>
</html> -->

<!-- code video 10 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template is working</title>

</head>
<body>
<h1>Welcome to the text analyzer. enter your text below</h1>
<form action='/analyze' method='get'>
    <textarea name='text' style="margin: 0px; height: 144px; width: 1345px;"></textarea>
    <input type="checkbox" name="removepunc" > Removepunctuations <br>
    <button type="submit">Analyze Text</button>
</form>
</body>
</html>